/* FunFacts.css */
@import url('https://fonts.googleapis.com/css2?family=Sanchez:wght@400&display=swap');
.funfacts-container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 120px;
  background: #f7f7f7;
  font-family: Arial, sans-serif;
  border-radius: 12px;
}

.title {
  font-family: 'Sanchez', serif;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 30px;
  /* color: #333; */
  color: #fecfef;
}

.facts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
}

.fact-box {
  background: white;
  padding: 18px;
  border-radius: 14px;
  font-size: 0.95rem;
  font-weight: 600;
  text-align: center;
  color: #3a3a3a;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12);
}

